checkpoints/checkpoints1/checkpoint.pth
checkpoints/weird_prompt/checkpoint.pth
results_csv/inference_results_try_1.csv
results_csv/inference_results_try_2.csv
results_csv/inference_results_try_3.csv
checkpoints/biggermodel/checkpoint.pth
checkpoints/long_term_forecast_ECL_512_96_TimeLLM_ECL_ftMS_sl512_ll8_pl96_dm32_nh8_el4_dl2_df64_fc3_ebtimeF_test_0-TimeLLM-ECL/checkpoint.pth
models/__pycache__/TimeLLM.cpython-311.pyc
checkpoints/GOOD_MODEL/checkpoint.pth
checkpoints/long_term_forecast_ECL_512_96_TimeLLM_ECL_ftMS_sl512_ll8_pl96_dm16_nh8_el2_dl1_df32_fc3_ebtimeF_test_0-TimeLLM-ECL/checkpoint.pth
checkpoints/time_llm/checkpoint.pth
models/__pycache__/TimeLLM.cpython-311.pyc
checkpoints/BEST_long_term_forecast_ECL_512_96_TimeLLM_ECL_ftS_sl512_ll32_pl1000_dm16_nh8_el4_dl2_df32_fc3_ebtimeF_test_0-TimeLLM-ECL/checkpoint.pth
checkpoints/long_term_forecast_ECL_512_96_TimeLLM_ECL_ftS_sl2048_ll32_pl1000_dm16_nh8_el4_dl2_df32_fc3_ebtimeF_test_0-TimeLLM-ECL/checkpoint.pth
    
